HELP.md

target/
build/
.mvn/
.gradle/
*.jar
*.war
*.ear

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea/
*.iws
*.iml
*.ipr
.vscode/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# --- Logs and System Files ---
*.log
vite.err.log
vite.out.log
.DS_Store
Thumbs.db
